nav{
	display: flex;
	position: relative;
	width: 100%;
	background: rgb(35, 87, 165);
}
.home-title{
	display: flex;
	position: relative;
	width: 100%;
	background: rgb(2, 14, 68);
	color: white;
	font-family: "Libre Baskerville" sans-serif;
	margin: 0;
	text-align: left;
}
.home-title h1{
	padding: 25px 50px;
}

.nav-enlace{
	padding: 8px 10px;
    color: white;
    font-size: 20px;
	justify-content: left;
	text-decoration: none;
}