body{
	margin: 0 0;
    background-image: linear-gradient(rgb(4, 96, 158), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.views{
	margin: 0 auto;
	margin-top: 15px;
	max-width: 1400px;
	display: flex;
	
	
}
.views h2{
	background: rgb(35, 66, 95);
	color: white;
	padding: 20px;
	margin: 0;
}
.eval-menu{
	border:1px solid black;
    width: 26%;
    height: 480px;
	background: white;
	margin: 0 20px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px;
}
.lista-eval{
    margin-top: 15px;
    width: auto;
    overflow: scroll;
    height: 390px;
}
#resultados-title{
    font-size:  25px;
}
.lista-eval ol{
	margin-top: 5px;
	list-style-type: none;
	font-size: 20px;
	text-align: left;

	padding-left: 10px;
}
#title-evaluacion{
    font-size: 30px;
}
#buscar-box{
	display: inline-flex;
}
#buscar{
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
#buscar:hover{
	cursor: pointer;
}

.lista-eval img{
	width: 18px;
	height: 18px;
}
.elemento-lista:hover{
	cursor: pointer;
	color: blue;
}
.orden{
    margin-bottom: 20px;
    margin-top: 7px;
	font-size: 15px;

}
.view-eval{
	background: white;
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
	margin-right: 70px;
	border: 1px solid black;
	box-shadow: 1px 1px 5px;
}
.editor-box{
    padding: 0 20px;
	width: auto;
	overflow: scroll;
	height: 650px;
}
.menu{
	background: rgb(184, 181, 181);
	/* border: 1px solid black; */
	width: 100%;
	display: block;
}
.menu-option{
	display: inline-block;
	margin: auto 0;
}

.menu-view-option{
	background: rgb(184, 181, 181);
	/* border: 1px solid black; */
	width: 100%;
	display: block;
}
.menu-option{
	display: inline-block;
	margin: auto 0;
}

.menu-bar{
	padding: auto 0;
	height: 100%;
	position: absolute;
	padding: 3px;
	display: none;
	margin: 0;
}
.menu-bar-img{
	width: 25px;
	height: 25px;
}
.rubrica-img{
    width: 100%;
}
.icon{
    width: 25px;
    height: 25px;
}
.menu-option:hover{
    border: 1px solid black;
	box-shadow: 1px 1px;
	transition: all 0.2s;
}
.menu-option:active{
    background: grey;
	box-shadow: -1px -1px;
	transition: all 0.2s;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.elemento-lista td, th{
    border-bottom: 1px solid gray;
    padding: 3px 10px;
}
.select-curso{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px
}
.nombre{
    text-align: center;
    width: 60%;
}
.fecha-class{
    text-align: center;
}
.eval td, th{
	text-align: left;
	box-sizing: border-box;
	border: 1px solid gray;
	padding: 0.35em;
	
}
.datos-evaluacion{
    width: 55%;
}
.datos{
    display: flex;
}
.grupo{
    width: 45%;
    margin-bottom: 20px;
    border: 1px solid black;
    height: 210px;
}
.evaluadores{
    width: 45%;
    border: 1px solid black;
    height: 210px;
}
.participantes{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-around;
}
.participantes h3{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    color: white;
    background: rgb(35, 66, 95);
    border: 1px solid gray;
}
.participantes-contain{
    overflow: scroll;
    height: 140px;
}
.select-group{
    margin: 20px 20px;
}
#fecha{
    color: gray;
    font-size: 12px;
}
@media (max-width: 800px){
	.eval-menu{
		display: none;
	}
	.menu-bar{
		display: table-cell;
		vertical-align: middle;
		margin-right: 5px;
	}
	.menu-bar-img{
		position: absolute;
 		top:50%;
 		margin-top: -75;
	}
	.view-eval{
		margin: 0 20px 0 40px;
	}
}
@media (max-width: 500px){
	.eval{
		width: 350px;
		height: auto;
		overflow: scroll;
	}
	.view-eval{
		width: 90%;
		margin: 0 auto;
	}
	.menu-bar{
		display: none;
	}
}