
body{
	margin: 0 0;
    background-image: linear-gradient(rgb(4, 96, 158), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.views{
	margin: 0 auto;
	margin-top: 15px;
	max-width: 1400px;
	display: flex;
	
	
}
.eval-menu  h2{
	background: rgb(35, 66, 95);
	color: white;
	padding: 20px;
	margin: 0;
}
.view-eval  > h2{
	background: rgb(35, 66, 95);
	color: white;
	padding: 20px;
	margin: 0;
}
.eval-menu{
	border:1px solid black;
    width: 26%;
    height: 480px;
	background: white;
	margin: 0 20px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px;
}
.lista-eval{
    width: auto;
    overflow: scroll;
    height: 390px;
}
.lista-eval ol{
	margin-top: 5px;
	list-style-type: none;
	font-size: 20px;
	text-align: left;

	padding-left: 10px;
}
#title-evaluacion{
    font-size: 27px;
    
}

#buscar:hover{
	cursor: pointer;
}
.boton-editar{
    background: rgb(19, 144, 202);
    color:white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 1px 1px;
}
#boton{
    border-bottom: 0px;
}
#title-tabla{
    margin-bottom: 0;
}
.evaluadores{
    width: 40%;
    box-sizing: content-box;
    margin: 10px;
}
.evaluadores td{
    padding: 0.75em;
    border-bottom: 1px solid gray;
}
.lista-eval img{
	width: 18px;
	height: 18px;
}
.elemento-lista:hover{
	cursor: pointer;
	color: blue;
}
.datos-evaluacion{
    display: flex;
    width:  100%;
    justify-content: space-around;
}
.tabla-datos{
    width: 40%;
    box-sizing: content-box;
    margin: 10px;
}
.tabla-datos td{
    padding: 0.75em;
    border-bottom: 1px solid gray;
}
.datos-agregar{
    background: rgb(19, 144, 202);
    color:white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 1px 1px;
}
#eliminar{
    border: 1px solid black;
}
#eliminar:hover{
    cursor: pointer;
}
#eliminar:active{
    background-color: gray;
}
.grupos-presentacion{

    display: flex;
    width: 100%;
}
.container-grupos{
    border: 1px solid black;
    width: 46%;
    height: 300px;
    background: white;
    margin: 0 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px;

}
.list-grupos{
    overflow: scroll;
    height: 230px;
}
.grupos-presentacion h3{
    width: auto;
    display: block;
    padding:20px;
    font-size: 20px;
    color: white;
    background: rgb(95, 1, 1);
    border: 1px solid gray;
    margin: 0;
}
.grupos-presentacion li{
    list-style: none;
    padding-top: 10px;
    text-align: left;
}

.view-eval{
	background: white;
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
	margin-right: 70px;
	border: 1px solid black;
	box-shadow: 1px 1px 5px;
}
.eval th{
	text-align: left;
	box-sizing: border-box;
	border: 1px solid gray;
	padding: 0.35em;
	
}
.eval td{
	text-align: left;
	box-sizing: border-box;
	border: 1px solid gray;
	padding: 0.35em;
	
}
.editor-box{
    padding: 0 20px;
	width: auto;
	overflow: scroll;
	height: 650px;
}
.menu{
	background: rgb(184, 181, 181);
	/* border: 1px solid black; */
	width: 100%;
	display: block;
}
.menu-option{
	display: inline-block;
	margin: auto 0;
}

.menu-view-option{
	background: rgb(184, 181, 181);
	/* border: 1px solid black; */
	width: 100%;
	display: block;
}
.menu-option{
	display: inline-block;
	margin: auto 0;
}

.menu-bar{
	padding: auto 0;
	height: 100%;
	position: absolute;
	padding: 3px;
	display: none;
	margin: 0;
}
.menu-bar-img{
	width: 25px;
	height: 25px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.nombre{
    text-align: center;
    width: 60%;
}
.fecha-class{
    text-align: center;
}
.rub > h2{
    background: rgb(87, 32, 15);
	color: white;
	padding: 20px;
    margin: 0;
    margin-bottom: 20px;
}

#fecha{
    color: gray;
    font-size: 12px;
}
.boton-seleccionar{
    background: rgb(150, 52, 22);
    color:white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 1px 1px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.boton-seleccionar:hover{
    cursor: pointer;
}
.boton-seleccionar:active{
    background: rgb(92, 31, 13);
}
.tiempos{
    display: flex;

}
.tiempos p{
    margin: 20px;
}
.group-t{
    margin: 20px;
}
.top{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.boton-plazo{
    background: rgb(11, 119, 53);
    color:white;
    font-size: 15px;
    padding: 15px 10px;
    border-radius: 7px;
    box-shadow: 1px 1px;
    margin: 20px 0;
}


@media (max-width: 800px){
	.eval-menu{
		display: none;
	}
	/* .menu-bar{
		display: table-cell;
		vertical-align: middle;
		margin-right: 5px;
	}
	.menu-bar-img{
		position: absolute;
         top:50%;
 		margin-top: -75;
	} */
	.view-eval{
        min-height: 800px;
		margin: 0 20px 0 20px;
    }
    .editor-box{
        height: 780px;
    }
}

@media (max-width: 500px){
	.eval{
		width: 350px;
		height: auto;
		overflow: scroll;
	}
	.view-eval{
		width: 90%;
		margin: 0 auto;
	}
	.menu-bar{
		display: none;
	}
}