
body{
	margin: 0 0;
	background: rgb(102, 98, 98);
}

.views{
	margin: 0 auto;
	margin-top: 15px;
	max-width: 1200px;
	display: flex;
	
}
.views h2{
	background: #333333;
	color: white;
	padding: 20px;
	margin: 0;
}
.rubricas-menu{
	border:1px solid black;
	width: 24%;
	background: white;
	margin: 0 20px;

	box-sizing: border-box;
	box-shadow: 1px 1px 5px;
}
.lista-rubricas{
	width: auto;
	overflow: scroll;
	height: 650px;
}
.lista-rubricas ol{
	margin-top: 5px;
	list-style-type: none;
	font-size: 20px;
	text-align: left;

	padding-left: 10px;
}
.lista-rubricas img{
	width: 20px;
	height: 20px;
}
.elemento-lista:hover{
	cursor: pointer;
	color: blue;
}
.orden{
	margin-bottom: 20px;
	font-size: 15px;

}
.view-rubrica{
	background: white;
	width: 100%;
	box-sizing: border-box;
	margin-right: 70px;
	border: 1px solid black;
	box-shadow: 1px 1px 5px;
}
.editor-box{
	width: auto;
	overflow: scroll;
	height: 650px;
}
.menu{
	background: rgb(184, 181, 181);
	/* border: 1px solid black; */
	width: 100%;
	display: block;
}
.menu-option{
	display: inline-block;
	margin: 2px 2px;

    
}

.menu-bar{
	padding: auto 0;
	height: 100%;
	position: absolute;
	padding: 3px;
	display: none;
	margin: 0;
}
.menu-bar-img{
	width: 25px;
	height: 25px;
}
.rubrica-img{
    width: 100%;
}
.icon{
    width: 25px;
    height: 25px;
}
.menu-option:hover{
    border: 1px solid black;
	box-shadow: 1px 1px;
	transition: all 0.2s;
}
.menu-option:active{
    background: grey;
	box-shadow: -1px -1px;
	transition: all 0.2s;
}
.rubrica td,th{
	text-align: left;
	border: 1px solid black;
	padding: 0.35em;
	border-collapse: collapse;
}
@media (max-width: 800px){
	.rubricas-menu{
		display: none;
	}
	.menu-bar{
		display: table-cell;
		vertical-align: middle;
		margin-right: 5px;
	}
	.menu-bar-img{
		position: absolute;
 		top:50%;
 		margin-top: -75;
	}
}
@media (max-width: 500px){
	.rubrica-img{
		width: 500px;
		height: auto;
		overflow: scroll;
	}
}