body{
    font-family: "Lato", sans-serif;
}
h2{
    font-weight: 700;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.columna{
    /* background: rgb(26, 51, 54); */
    color: gray;
    border: 1px solid gray;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 5px 5px 15px gray;
    width: 23%;
    box-sizing: border-box;
}
.precio{
    font-size: 50px;
    color: rgb(24, 79, 88);

}
.btn-precio{
    background: orange;
    display: block;
    padding: 10px;
    color: antiquewhite;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-precio:hover{
    background: rgb(122, 80, 0)
}
@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media(max-width: 550px){
    .columna{
        width: 90%;
    }
}